.header
  .container
    .header__cont
      .cont__text
        span BUild
        |Your Body
        br
        span Transform 
        |Your Life
    .header__text Curabitur ac volutpat odio. Nunc eget eros viverra, laoreet ligula eget, interdum augue. Pellentesque ornare mauris a hendrerit imperdiet.
    .header__btn
      a(href="#") Get Started
      a(href="#") Learn More
