.about
    .container
        .about__cont
            .about__head
                .shape
                    .shape__title.title_col About ShapeUp
                    .shape__head.head_col Welcome to Healthy Life
                    .shape__line
                        .line
                    .shape__h3 Nunc euismod ante at purus elementum porttitor. Ut nisi nisl, auctor et imperdiet quis risus.
                    .shape__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas est porttitor, malesuada tellus aliquet, vehicula ipsum. Suspendisse porttitor sed dolor ac vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi iaculis tellus vestibulum est accumsan commodo. Curabitur sollicitudin, eros vitae vulputate euismod, nibh tortor accumsan tellus, fringilla hendrerit ligula eros nec velit.
                    .shape__a
                        a(href='#') Learn More
            .about__slider
                .gallery-top
                    .swiper-wrapper
                        .swiper-slide(data-hash="slide1")
                            figure
                                img(src='images/about/about-1.jpg', alt='1')
                        .swiper-slide(data-hash="slide2")
                            figure
                                img(src='images/about/about-2.jpg', alt='1')
                        .swiper-slide(data-hash="slide3")
                            figure
                                img(src='images/about/about-3.jpg', alt='1')
                        .swiper-slide(data-hash="slide4")
                            figure
                                img(src='images/about/about-4.jpg', alt='1')
                        .swiper-slide(data-hash="slide5")
                            figure
                                img(src='images/about/about-5.jpg', alt='1')
                        .swiper-slide(data-hash="slide6")
                            figure
                                img(src='images/about/about-7.jpg', alt='1')
                .gallery-thumbs
                    .swiper-wrapper
                        .swiper-slide(data-hash="slide1")
                            figure
                                img(src='images/about/about-1.jpg', alt='1')
                        .swiper-slide(data-hash="slide2")
                            figure
                                img(src='images/about/about-2.jpg', alt='1')
                        .swiper-slide(data-hash="slide3")
                            figure
                                img(src='images/about/about-3.jpg', alt='1')
                        .swiper-slide(data-hash="slide4")
                            figure
                                img(src='images/about/about-4.jpg', alt='1')
                        .swiper-slide(data-hash="slide5")
                            figure
                                img(src='images/about/about-5.jpg', alt='1')
                        .swiper-slide(data-hash="slide6")
                            figure
                                img(src='images/about/about-7.jpg', alt='1')
        .about__meet
            .meet
                .meet__title.title_col Meet
                .meet__head.head_col Our Trainers
                .meet__line
                    .line
                .meet__trainer
                    .trainers
                        .trainers__name
                            figure
                                img(src='images/meet/meet-1.jpg', alt='1')
                                h4 Jon Johnson
                                p Fitness Trainer
                                span
                        .trainers__name
                            figure
                                img(src='images/meet/meet-2.jpg', alt='2')
                                h4 Letty Adams
                                p Fitness Trainer
                                span
                        .trainers__name
                            figure
                                img(src='images/meet/meet-3.jpg', alt='3')
                                h4 Logan Smith
                                p Fitness Trainer
                                span
                        .trainers__name
                            figure
                                img(src='images/meet/meet-4.jpg', alt='4')
                                h4 Olivia Williams
                                p Fitness Trainer
                                span
                        .trainers__name
                            figure
                                img(src='images/meet/meet-5.jpg', alt='5')
                                h4 Samuel Jones
                                p Fitness Trainer
                                span