.head__menu
  .container
    nav(class='header__nav')
      include ../../blocks/head-logo/head-logo
      .nav__menu_burger
        span
      ul(class='nav__box')
        //- 1
        li
          a(href='#' class='box__url') Home
        //- 2
        li
          a(href='#' class='box__url') About
        //- 3
        li
          a(href='#' class='box__url') Trainers
        //- 4
        li
          a(href='#' class='box__url') Service
        //- 5
        li
          a(href='#' class='box__url') Reviews
        //- 6
        li
          a(href='#' class='box__url') Price
        //- 7
        li
          a(href='#' class='box__url') Blog
        //- 8
        li
          a(href='#' class='box__url') Contact