.pricing__table
  .pricing__slider
    .swiper-wrapper
      .swiper-slide
        .pricing__img
          img(src='images/pricing__table/image-1.jpg', alt='1')
      .swiper-slide
        .pricing__img
          img(src='images/pricing__table/image-2.jpg', alt='1')
      .swiper-slide
        .pricing__img
          img(src='images/pricing__table/image-3.jpg', alt='1')
      .swiper-slide
        .pricing__img
          img(src='images/pricing__table/image-4.jpg', alt='1')
      .swiper-slide
        .pricing__img
          img(src='images/pricing__table/image-5.jpg', alt='1')
      .swiper-slide
        .pricing__img
          img(src='images/pricing__table/image-1.jpg', alt='1')
      .swiper-slide
        .pricing__img
          img(src='images/pricing__table/image-2.jpg', alt='1')
      .swiper-slide
        .pricing__img
          img(src='images/pricing__table/image-3.jpg', alt='1')
    .swiper-button-next
    .swiper-button-prev
  .container
    .pricing__tables
      .tables__title.title_col Pricing Table
      .tables__head.head_col Our Membership Plans
      .tables__line
        .line
      .tadles__services
        .services
          //- -1-
          .services__item
            .services__price
              |$
              span 10
              | /Day
            .services__day One Day Training
            .services__text
              p One day access to all clubs
              p Training in group
              p No Dedicated trainer
              p Access to one 1 hour fitness class
              p 
                |No access to spa center
                br
                |(Book Separately)
            .services__btn 
              a(href='#') Book Now
          //- -2-
          .services__item
          
            .services__price 
              |$
              span 49
              |/month
            .services__day One Year Subscription
            .services__text
              p Access to all clubs
              p Training in group or alone
              p Dedicated trainer available
              p Access to one 1 hour fitness class
              p 
                |Access to spa center 
                br
                |(Book Separately)
            .services__btn
              a(href='#') Book Now
          //- -3-
          .services__item
            .services__price
              |$
              span 65
              |/month
            .services__day One Month Sybscription
            .services__text
              p Access to all clubs
              p Training in group or alone
              p Dedicated trainer available
              p Access to one all fitness class
              p 
                |Access to spa center
                br
                |(Book Separately)
            .services__btn
              a(href='#') Book Now
            