.reviews
  .container
    .reviews__say
      .reviews__title.title_col Reviews
      .reviews__head.head_col What Our Clients Say
      .reviews__line
        .line
      .reviews__slider
        .swiper-wrapper
          //- =1=
          .swiper-slide
            .reviews__list
              .list__img
                img(src='images/reviews/image-1.png', alt='1123123')
              .list__user
                .user__title Rebecca Morrison
                .user__name Social Worker
                .user__text
                  |Curabitur interdum nulla ligula, ac iaculis est venon. 
                  |Quisque auctor, ex id posuere aliquam, lorem mauris 
                  |venenatis sem, eu facilisis magna nibh . Praesent 
                  |laoreet leo diam, ut suscipit purus malesuada laoreet. 
                  |Aliquam erat volutpat.
                .user__star.user__star1
                  include ../../blocks/star/star
          //- =2=
          .swiper-slide
            .reviews__list
              .list__img
                img(src='images/reviews/image-2.png', alt='1123123')
              .list__user
                .user__title Daniel Bllomberg
                .user__name Salesman
                .user__text
                  |Donec nec interdum turpis. Donec faucibus facilisis 
                  |enim, ut fringilla urna elementum non. Mauris vel 
                  |mauris ac tellus feugiat maximus. Sed augue enim, 
                  |lacinia non dui ut, mollis vulputate felis. Vivamus 
                  |consequat bibendum ullamcorper.
                .user__star.user__star2
                  include ../../blocks/star/star
          //- =3=
          .swiper-slide
            .reviews__list
              .list__img
                img(src='images/reviews/image-1.png', alt='1123123')
              .list__user
                .user__title Rebecca Morrison
                .user__name Social Worker
                .user__text
                  |Curabitur interdum nulla ligula, ac iaculis est venon. 
                  |Quisque auctor, ex id posuere aliquam, lorem mauris 
                  |venenatis sem, eu facilisis magna nibh . Praesent 
                  |laoreet leo diam, ut suscipit purus malesuada laoreet. 
                  |Aliquam erat volutpat.
                .user__star.user__star3
                  include ../../blocks/star/star
          //- =4=
          .swiper-slide
            .reviews__list
              .list__img
                img(src='images/reviews/image-1.png', alt='1123123')
              .list__user
                .user__title Rebecca Morrison
                .user__name Social Worker
                .user__text
                  |Curabitur interdum nulla ligula, ac iaculis est venon. 
                  |Quisque auctor, ex id posuere aliquam, lorem mauris 
                  |venenatis sem, eu facilisis magna nibh . Praesent 
                  |laoreet leo diam, ut suscipit purus malesuada laoreet. 
                  |Aliquam erat volutpat.
                .user__star.user__star4
                  include ../../blocks/star/star
      .swiper-pagination
      


