.blog
  .container
    .blogs
      .blogs__tables
        .blogs__title.title_col Blog
        .blogs__head.head_col Our Latest News
        .blogs__line
          .line
      .blogs__list
        //- =1=
        .blogs__item
          .blogs__img
            img(src='images/blog/blog-1.jpg', alt='1')
          .blogs__cont
            .blogs__cont_title Body Fitness
            .blogs__cont_head Start your push-ups today and see results
            .blogs__cont_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare ut dui sed facilisis. Aliquam eu nunc orci. Aliquam eleifend in lorem nec mollis.
            .blogs__cont_read Continue reading
          .blogs__foot
            .foot__text 1d | Kevin Smith
            .foot__like 25 ❤
        //- =2=
        .blogs__item
          .blogs__img
            img(src='images/blog/blog-2.jpg', alt='1')
          .blogs__cont
            .blogs__cont_title Exersize
            .blogs__cont_head Are you commited enough for better body ?
            .blogs__cont_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare ut dui sed facilisis. Aliquam eu nunc orci. Aliquam eleifend in lorem nec mollis.
            .blogs__cont_read Continue reading
          .blogs__foot
            .foot__text 2d | Md Mizanur Rahman
            .foot__like 50 ❤
        //- =3=
        .blogs__item
          .blogs__img
            img(src='images/blog/blog-3.jpg', alt='1')
          .blogs__cont
            .blogs__cont_title Fitness Club
            .blogs__cont_head Why working out is good for you ?
            .blogs__cont_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare ut dui sed facilisis. Aliquam eu nunc orci. Aliquam eleifend in lorem nec mollis.
            .blogs__cont_read Continue reading
          .blogs__foot
            .foot__text 2d | Nazratun Nayeem
            .foot__like 71 ❤
        //- =4=
        .blogs__item
          .blogs__img
            img(src='images/blog/blog-1.jpg', alt='1')
          .blogs__cont
            .blogs__cont_title Training Equipments
            .blogs__cont_head Liftings things do make a difference
            .blogs__cont_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare ut dui sed facilisis. Aliquam eu nunc orci. Aliquam eleifend in lorem nec mollis.
            .blogs__cont_read Continue reading
          .blogs__foot
            .foot__text 3d | Marry Poppins
            .foot__like 39 ❤

        