.call-today
  .call-today__title.title_col Call Us Today
  .call-today__head +1 957 652 1268
  .call-today__text
    p
      |Praesent elementum nulla non posuere dictum. Suspendisse aliquet quam
      |diam, egestas tristique nibh tempor sed. Ut justo leo, eleifend sit amet ipsum ac,
      |scelerisque mattis nisl.
  .call-today__btn
    a(href='#') Book a Program