footer
  .container
    .footer__title
      .footer__shapeup
        .logo
          include ../../blocks/head-logo/head-logo

        p Maecenas rhoncus ipsum non nisi finibus maximus. In hac habitasse platea dictumst. Aenean purus eros.
        .shapeup__follow Follow Us
          .follow__nav
            .follow__us
              a(href="#")
              span
                img(src='images/footer/fecebook.png', alt='1')
            .follow__us
              a(href="#")
              span
                img(src='images/footer/twitter.png', alt='1')
            .follow__us
              a(href="#")
              span
                img(src='images/footer/instagram.png', alt='1')
            .follow__us
              a(href="#")
              span
                img(src='images/footer/youtube.png', alt='1')
            .follow__us
              a(href="#")
              span
                img(src='images/footer/vimeo.png', alt='1')
      .footer__quick
        .quick__head Quick Contacts
        .quick__cont
          .quick__nav
            span 
              img(src='images/footer/map-marker.png', alt='1')
            p 
              |23, George Washington Street, 
              br
              |New York, USA, 09567
          .quick__nav
            span
              img(src='images/footer/phone.png', alt='1')
            p +1 957 652 1268
          .quick__nav
            span
              img(src='images/footer/mail.png', alt='1')
            p info@shapeup.com
          .quick__nav
            span
              img(src='images/footer/globe.png', alt='1')
            p www.shapeup.com
      .footer__popular
        .popular__head Popular Search Tags
        .popular__tags
          a(href="#") Workout
          a(href="#") Spa
          a(href="#") Schedule

          a(href="#") Weightlifing
          a(href="#") Boxing
          a(href="#") Yoga

          a(href="#") Location
          a(href="#") Trainers
          a(href="#") Class

          a(href="#") Equipments
          a(href="#") Nutrition

  .footer__cont
    ul
      li 
        a(href="#") Home
      li 
        a(href="#") About
      li 
        a(href="#") Trainers
      li 
        a(href="#") Service
      li 
        a(href="#") Reviews
      li 
        a(href="#") Price
      li 
        a(href="#") Blog
  .copyright Copyright 2018. All Rights Reserved