.choose
  .container
    .chooses
      .choose__title.title_col Choose
      .choose__head.head_col Our Programs
      .choose__line
        .line
      .choose__content
        .our__programs
          //- -1-
          .programs__elem
            .elem__img
              img(src='images/choose/icon-1.png', alt='1')
            .elem__h4 Body Building Programs
            .elem__p 
              |Sed augue enim, lacinia non dui ut, mollis vulputate 
              |felis. Vivamus consequat bibendum ullamcorper. Donec 
              |sed nibh aliquet odio efficitur sagittis.
            .elem__btm 
              a(href='#') Learn More
          //- -2-
          .programs__elem
            .elem__img
              img(src='images/choose/icon-2.png', alt='2')
            .elem__h4 Weight Loose Programs
            .elem__p 
              |Sed augue enim, lacinia non dui ut, mollis vulputate 
              |felis. Vivamus consequat bibendum ullamcorper. Donec 
              |sed nibh aliquet odio efficitur sagittis.
            .elem__btm 
              a(href='#') Learn More
          //- -3-
          .programs__elem
            .elem__img
              img(src='images/choose/icon-3.png', alt='3')
            .elem__h4 Spa Programs
            .elem__p 
              |Sed augue enim, lacinia non dui ut, mollis vulputate 
              |felis. Vivamus consequat bibendum ullamcorper. Donec 
              |sed nibh aliquet odio efficitur sagittis.
            .elem__btm 
              a(href='#') Learn More